<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Jasmine Bayani's Twitter Analyzer</title>
      <meta name="description" content="Twitter Sentiment Analyzer">
      <meta name="Jasmine" content="SitePoint">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <!--BOOTSTRAP-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="static/styles.css?v=1.0">
   </head>
   <body class = "container-fluid">
      <div id="menu" class="navbar navbar-default fixed-top">
         <div class="container-fluid"><a href="/" class="menu-item">TWITTER ANALYZER + POST TWEET IN DICTIONARY</a> <a href="/newtweets" class="menu-item">POST TWEET IN TEXT FILE</a> <a href="/twitter_clone" class="menu-item">TWITTER + SQL</a> <a href=#mainContent class="menu-item">^</a></div>
      </div>
      <div id="mainContent" style="padding-top: 100px">
         <a href="/"><img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" alt="Twitter Logo" style="height:100px; width: 100px; margin-left: 50%; margin-right: 50%;"></a>
         <div class = "container-fluid" id="title">
            <h1 style="color: black;">Twitter Sentiment Analyzer</h1>
         </div>
         <div align="center">
            <form method='GET' action="/twittersentiment">
               <input name="text" style=" padding: 10px; padding-left: 5%; padding-right: 5%; border-color: darkgrey">
               <div>
               </div>
               <input style=" padding: 10px; margin-top: 10px; background-color: #008CBA; color: white; font-weight: bold; border-color: darkgrey; border-width: 3px;" type="submit" value="Analyze Tweets!">
            </form>
         </div>
         <div align="center">
            <div id="tableOftweets">
               <table class="centered-text">
                  <tr>
                     <th class="th_tweets">TWEETS with {{text}}</th>
                     <th class="th_tweets">SENTIMENT</th>
                     <th class="th_tweets">POSITIVE %</th>
                     <th class="th_tweets">NEGATIVE %</th>
                     <th class="th_tweets">POSITIVE WORDS</th>
                     <th class="th_tweets">NEGATIVE WORDS</th>
                  </tr>
                  {% for tweetInfo in tweetsInfo %}
                  <tr>
                     <td>{{ tweetInfo['text'] }}</td>
                     <td>{{ tweetInfo['sentiment'] }}</td>
                     <td>{{ tweetInfo['positivePercentage'] }}</td>
                     <td>{{ tweetInfo['negativePercentage'] }}</td>
                     <td>{{ tweetInfo['positiveWords'] }}</td>
                     <td>{{ tweetInfo['negativeWords'] }}</td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
            <h2>Stores tweets in a dictionary:</h2>
            <form method='POST' action="/twittersentiment">
               <input name="tweetPost" style=" padding: 10px; padding-left: 5%; padding-right: 5%; border-color: darkgrey">
               <div>
               </div>
               <input style=" padding: 10px; margin-top: 10px; background-color: #008CBA; color: white; font-weight: bold; border-color: darkgrey; border-width: 3px;" type="submit" value="Post my tweet!">
            </form>
            <div id="tableOfPostedtweets">
               <table class="centered-text">
                  <tr>
                     <th>ID</th>
                     <th>Tweet Posted</th>
                  </tr>
                  {% for tweetPosted in tweets_dict %}
                  <tr>
                     <td>{{ tweetPosted['tweetCount'] }}</td>
                     <td>{{ tweetPosted['tweet'] }}</td>
                  </tr>
                  {% endfor %}
               </table>
            </div>
         </div>
      </div>
      <!--main content -->
   </body>
   <!--container -->
</html>